name: Deploy Docker image
#Adding docker
on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download dependencies
        run: go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest

      - name: Run Tests with Coverage
        run: |
          go test ./... -v -covermode=atomic -coverprofile=coverage.out
          go tool cover -func=coverage.out

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.out
          fail_ci_if_error: true

      - name: Install and Run GoSec
        run: |
          echo "Installing GoSec..."
          go install github.com/securego/gosec/v2/cmd/gosec@latest
          echo "Running GoSec..."
          $HOME/go/bin/gosec ./... || true
        continue-on-error: true

      - name: Install and Run Govulncheck
        run: |
          echo "Installing Govulncheck..."
          go install golang.org/x/vuln/cmd/govulncheck@latest
          echo "Running Govulncheck..."
          $HOME/go/bin/govulncheck ./... || true
        continue-on-error: true

      - name: Build Go binary
        run: |
          mkdir -p ./bin
          go build -v -o ./bin/app ./cmd/

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: go-binary
          path: ./bin/app

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: kaustubhzz
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/sadeeddiwan/go-app:${{ github.sha }}
            ghcr.io/sadeeddiwan/go-app:latest
